<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acimage.community.dao.TagTopicDao">

    <insert id="insertBatch">
        insert into tb_tag_topic(id,topic_id,tag_id,create_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.topicId},#{item.tagId},#{item.createTime})
        </foreach>
    </insert>

</mapper>