<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acimage.community.dao.TopicDao">
    <resultMap id="topicWithUser" type="Topic">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="activityTime" column="activity_time"/>
        <result property="pageView" column="page_view"/>
        <result property="starCount" column="star_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="coverImageUrl" column="cover_image_url"/>
        <result property="categoryId" column="category_id"/>
        <association property="user" javaType="CmtyUser" column="user_id"
                     select="com.acimage.community.dao.CmtyUserDao.selectById"/>
    </resultMap>


    <resultMap id="topicWithUserImages" type="Topic">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="pageView" column="page_view"/>
        <result property="starCount" column="star_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="activityTime" column="activity_time"/>
        <result property="coverImageUrl" column="cover_image_url"/>
        <result property="categoryId" column="category_id"/>
        <association property="user" javaType="CmtyUser" column="user_id"
                     select="com.acimage.community.dao.CmtyUserDao.selectById"/>
    </resultMap>

    <resultMap id="topicWithUserTagIds" type="Topic">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="pageView" column="page_view"/>
        <result property="starCount" column="star_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="activityTime" column="activity_time"/>
        <result property="coverImageUrl" column="cover_image_url"/>
        <result property="categoryId" column="category_id"/>
        <association property="user" javaType="CmtyUser" column="user_id"
                     select="com.acimage.community.dao.CmtyUserDao.selectById"/>
        <collection property="tagIds" ofType="Integer" column="id"
                    select="com.acimage.community.dao.tagTopicDao.selectTagIds"/>
    </resultMap>


    <update id="updatePvByIncrement">
        <foreach collection="idAndIncrements" item="idAndIncrement" index="index" separator=";">
            update tb_topic set page_view=page_view+#{idAndIncrement.value} where id=#{idAndIncrement.key} and deleted=0
        </foreach>
    </update>

    <update id="batchUpdateColumnByIncrement">
        <foreach collection="idAndIncrements" item="idAndIncrement" index="index" separator=";">
            update tb_topic set ${column} = ${column} + #{idAndIncrement.value} where id=#{idAndIncrement.key} and deleted=0
        </foreach>
    </update>

    <update id="batchUpdateActivityTime">
        <foreach collection="idAndActivityTimes" item="idAndActivityTime" index="index" separator=";">
            update tb_topic set activity_time = #{idAndActivityTime.value} where id=#{idAndActivityTime.key} and deleted=0
        </foreach>
    </update>


    <select id="selectTopicWithUser" resultMap="topicWithUser">
        select * from tb_topic where id=#{id} and deleted=0
    </select>

    <select id="selectTopicsWithUserOrderByPageView" resultMap="topicWithUser">
        select * from tb_topic where create_time>#{startTime} order by page_view desc
        <if test="limit!=null">
            limit #{limit}
        </if>
    </select>

    <select id="selectTopicsWithUserOrderBy" resultMap="topicWithUser">
        select * from tb_topic where deleted=0 order by ${column} desc limit #{limit}
    </select>

    <select id="selectTopicsWithUserByIds" resultMap="topicWithUser">
        select * from tb_topic where deleted=0 and id in
        <foreach collection="ids" item="id" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectTopicsWithUserOrderByCreateTime" resultMap="topicWithUser">
        select * from tb_topic where user_id=#{userId} and deleted=0 order by create_time desc limit #{startIndex},#{recordNumber}
    </select>







</mapper>