body {
	background-color: #F5F5F5;
	margin: 0px;
	padding: 0px;
}

.wrapper {
	width: 1130px;
	margin-left: calc((100% - 1130px) / 2);
	margin-top: 15px;
	display: block;
}

.wrapper-left {
	position: relative;
	width: 800px;
	display: inline-block;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #CCCCCC;
	padding-bottom: 50px;
	overflow: hidden;
}

.title {
	text-align: center;
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	margin-top: 20px;
	color: #666666;
}

.title-edit-button {
	display: inline-block;
	float: right;
	margin-right: 40px;
}

.topic-info {
	margin-left: 5%;
	margin-top: 10px;
	color: #666666;
}

.images-container {
	text-align: center;
}

.image-of-images {
	width: 300px;
	border-radius: 5px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 4px #666666;
}

.image-description {
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top: -15px;
}

.time-hint-container {
	position: relative;
	width: 100%;
	height: 60px;
}

.time-hint {
	margin-top: 30px;
	margin-left: 40px;
	color: #999999;
}

.content-edit-button {
	display: inline-block;
	margin-right: 40px;
	float: right;
}

.topic-html-container{
	width:720px;
	margin-left:40px;
	overflow: hidden;
}



.comments-container {
	margin-left: 10%;
	width: 80%;

}

.comments-count {
	height: 40px;
	color: #333333;
	margin-left: -3%;
	font-size: 14px;
}

.gray-color {
	color: #AAAAAA;
}

.wrapper-right {
	width: 300px;
	vertical-align: top;
	margin-left: 20px;
	display: inline-block;
	border-radius: 5px;
	/* box-shadow: 0px 0px 5px #CCCCCC; */
}

.user-container{
	text-align: center;
	padding-bottom: 20px;
	border:2px solid #EEEEEE;
	border-radius: 5px;
	/* box-shadow: 0px 0px 5px #CCCCCC; */
}



