.forum-div {
	/* background-color: #FBFBFB; */
	background-color: #F9FBFB;
	margin: 0px;
	padding: 0px;
}

.upload-plus-disabled .el-upload--picture-card {
	display: none;
}

.wrapper {
	width: 1130px;
	margin-left: calc((100% - 1120px) / 2);
	margin-top: 15px;
	display: block;
	padding-bottom: 100px;
	border-radius: 5px;
}

.wrapper-left {
	width: 760px;
	display: inline-block;
	/* 	background-color: white; */
	background-color: rgba(0, 0, 0, 0);
	/* 	border-radius: 5px;
	box-shadow:0px 0px 5px #CCCCCC; */
	padding-bottom: 10px;
}


/* .topics-container {
	position: relative;
	padding-bottom: 20px;
} */

.wrapper-header {
	top: 5px;
	position: relative;
	border-radius: 5px;
	/* height: 44px; */
	height: 350px;
	/* text-align: center; */
	margin-bottom: 20px;
}

.mask-images-container{
	width:520px;
	margin-left:10px;
	display: inline-block;
	vertical-align: top;
}

.mask-images-container>div{
	display: inline-block;
}

.wrapper-header-icon {
	font-size: 40px;
	color: #E5E544;
}

.wrapper-header-title {
	position: relative;
	top: -6px;
	display: inline-block;
	font-size: 25px;
	color: #999999;
}

.wrapper-right {
	width: 340px;
	display: inline-block;
	vertical-align: top;
	/* 	border-radius: 5px;
	box-shadow: 0px 0px 5px #CCCCCC; */
	background-color: rgba(0, 0, 0, 0);
	/* 		padding-bottom: 200px; */
	margin-left: 30px;
}


.mt10 {
	margin-top: 10px;
}
















/* 
.user-rank-header {
	font-size: 22px;
	color: skyblue;
	text-align: center;
	margin-top: 10px;
}

.topic-item {
	margin-bottom: -20px;
	margin-top: -20px;
	padding-left: 10px;
	padding-right: 10px;
}

.item-medium {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	width: 500px;
}

.topic-title {
	color: #666666;
	font-size: 18px;
}

.topic-data {
	color: #999999;
	font-size: 14px;
}

.topic-content {
	margin-top: 2px;
	color: #999999;
	font-size: 16px;
}

.item-right {
	display: inline-block;
	vertical-align: top;
}

.item-right-image {
	height: 100px;
	width: 100px;
	border-radius: 3px;
	margin-top: 4px;
} */
