body {
	margin: 0px;
	padding: 0px;
}

/* 隐藏上传图片时的+号 */
.upload-plus-disabled .el-upload--picture-card {
	display: none;
}

.no-underline {
	text-decoration: none;
}

/* 改变router-link颜色变化 */
.router-link-item {
	color: #666666;
}

.router-link-item:hover {
	color: #0074A0;
}

.hover-pointer:hover {
	cursor: pointer
}

.hover-shadow:hover{
	box-shadow: 0px 0px 15px #E7E6E3 !important;
	transition: 0.4s;
}

/* .hover-border-light:hover {
	border: 1px solid skyblue !important;
} */


.c6 {
	color: #666666;
}
.c9 {
	color: #999999;
}
