body {
	margin: 0px;
	padding: 0px;
}

/* 隐藏上传图片时的+号 */
.upload-plus-disabled .el-upload--picture-card {
	display: none;
}

.no-underline {
	text-decoration: none;
}

/* 改变router-link颜色变化 */
.router-link-item {
	color: #666666;
}

.router-link-item:hover {
	color: #0074A0;
}

.hover-pointer:hover {
	cursor: pointer
}

.hover-border-light:hover {
	border:1px solid skyblue;
}

.hover-border-light:active {
	
}
