

/* tabs */
.tabs-wrapper{
	height:60px;
	font-size:22px;
	background-color: white;
	box-shadow:0px 0px 2px #A7A796;
	text-align: center;
	position:relative;
}

.tabs-wrapper > img:last-child{
	height:55px;
	position:absolute;
	right:10px;
}

.tabs-wrapper > img:first-child{
	height:55px;
	position:absolute;
	left: 10px;
}

.tabs-container{
	display: inline-block;
	margin-top:16px;
	font-family:'Times New Roman', Times, serif; 
}

.tabs-container > div{
	display: inline-block;
}

.tabs-item-link{
	color:#666666;
	font-size: 22px;
}

.tabs-item-link:hover{
	color:#0074A0;
}
/* End tabs */