.wrapper {
	width: 760px;
	height: 130px;
	display: inline-block;
	position: relative;
	border-radius: 3px;
	box-shadow: 0px 0px 6px #CCCCCC;
	background-color: white;
}

.wrapper:hover {
	box-shadow: 0px 0px 6px #AAAAAA;
	transform: translate(0, -2px);
	transition: transform 0.2s;
}

.wrapper-left {
	height: 100%;
	width: 135px;
	display: inline-block;
}

.wrapper-left>img {
	height: 100%;
	width: 120px;
	object-fit: cover;
	border-radius: 3px;
	display: inline-block;
}

.white-gradient {
	position: absolute;
	left: 61px;
	top: 0px;
	height: 100%;
	width: 60px;
	background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}

.wrapper-medium {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 475px;
	height: 100%;
}

.title {
	font-size: 16px;
	margin-top: 2px;
	color:#333333;
}

.content {
	font-size: 14px;
	color: #999999;
	margin-top: 8px;
}

.info {
	position: absolute;
	bottom: 5px;
	left: 10px;
}

.username {
	display: inline-block;
	position: relative;
	bottom: 5px;
	/* 	margin-bottom: auto; */
	color: #666666;
	margin-left: 5px;
	font-size: 14px;
}

.data {
	display: inline-block;
	position: relative;
	bottom: 5px;
	/* 	margin-bottom: auto; */
	margin-left: 5px;
	font-size: 12px;
	color: #999999;
}

.wrapper-right {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 140px;
	padding-left: 10px;
}

.category-container{
	margin-top: 10px;
	height:30px;
}
.tags-container {
	margin-top: 10px;

}

.tags-container>>>.el-tag {
	margin-top: 3px;
	margin-right: 3px;
}

