.tags-container>>>.el-tag:hover {
	border: 1px solid skyblue;
}

.tags-container>>>.el-tag:active {
	border: 1px solid blue;
}

.tags-container>>>.el-tag:focus {
	border: 1px solid blue !important;
}

.tags-container>>>.el-tag {
	display: inline-block;
	margin-top: 6px;
	margin-right: 5px;
	margin-left: auto;
}

