body{
	margin:0px;
	padding:0px;
	background-size: cover;
}

.login-wrapper{
	background-size:cover; 
	height:100vh;
	width: 100vw;
}

.login-main{
	text-align: center;
}

.login-container {
	width: 400px;
	display: inline-block;
	/* border:1px solid #409EFF; */
	border-radius: 10px;
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	left:51vw;
	top:20vh;
}
  
.login-container:hover {
	background-color: rgba(255,255,255,0.9);
}

.login-tabs-container{
	margin-top: -20px;
	margin-bottom: -10px;
}
.login-tabs-content{
	font-size:18px !important; 
	background-color: rgba(0,0,0,0) !important;
}
   
.hint-container{
	height:22px;
	display: block;
	margin-top:10px ;
	text-align: left;
}
   
.hint-content{
	color:red;
	font-size:10px;
	font-family:'Times New Roman', Times, serif; 
}

.content{
	margin-top: -10px;
}

.content>>>.el-row{
	margin-top:10px;
}

.verify-code{
	width: 100px;
	margin-left:20px;
	height:40px;
	display:inline-block;
	vertical-align: top;
}


  
