<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acimage.community.dao.TopicDao">
    <resultMap id="topicWithUser" type="Topic">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="activityTime" column="activity_time"/>
        <result property="pageView" column="page_view"/>
        <result property="starCount" column="star_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="coverImageUrl" column="cover_image_url"/>
        <result property="categoryId" column="category_id"/>
    </resultMap>


</mapper>