.wrapper {
	width: 320px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #CCCCCC;
	padding-bottom: 40px;
	position: relative;
	transition: 0.4s;
}

.wrapper:hover {
	box-shadow: 0px 0px 10px #AAAAAA;
	transition: 0.5s;
}

.wrapper-header>img {
	width: 320px;
	height: 100px;
	border-radius: 3px;
	object-fit: cover;
	z-index: 5;
}

.white-gradient {
	position: absolute;
	top: 45px;
	height: 60px;
	width: 100%;
	background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
	/* background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.01)); */
}

.header-title {
	margin-left: 120px;
	position: absolute;
	bottom: 12px;
	font-style: italic;
	text-shadow: 2px 5px 4px pink;
	color: rgb(255, 0, 153);
}

.user-rank-header {
	font-size: 22px;
	color: #C5A40F;
	text-align: center;
	padding-top: 20px;
}

.sort-choice-container {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 20px;
}

.sort-hint {
	font-size: 14px;
	margin-right: 5px;
	margin-left: 5px;
	color: #333333
}

.user-item-container {
	margin-top: 5px;
	margin-left: 20px;
}

.user-item-left {
	display: inline-block;
	margin-left: 10px;
}

.user-item-right {
	display: inline-block;
	margin-left: 10px;
	margin-top: -2px;
	vertical-align: top;
}

.user-item-right-header {
	font-size: 14px;
	color: #666666;
}

.user-item-right-bottom>div {
	color: #12BADF;
	font-size: 12px;
	display: inline-block;
}

.user-item-right-bottom>span {
	font-size: 12px;
	color: #666666;
	margin-left: -3px;
	margin-right: 5px;
}

.gray-color {
	color: #666666;
}
