
.wrapper{
	width:1040px;
	margin-left: calc( (100% - 510px - 520px) / 2 );
	margin-top: 15px;
	
	display: block;
	background-color: white;
	border-radius: 5px;
	/* box-shadow:0px 0px 5px #CCCCCC; */
	padding-bottom: 200px;
}

.wrapper-top{
	padding-top: 20px;
	padding-bottom: 20px;
	width:100%;
	border-radius: 5px;
	box-shadow:0px 0px 5px #CCCCCC;
}

.wrapper-header{
	top:5px;
	position:relative;
	height:60px;
	text-align: center;
	margin-bottom: 30px;
}

.header-title{
	position:relative;
	top:-6px;
	display: inline-block;
	font-size:25px;
	color:#999999;
}

.header-icon{
	font-size:40px;
	color:#E5E544;
}


.mr5{
	margin-right: 5px;
}

.active-blue:hover{
	background-color:blue !important;
	transition: 1s;
}