
.publish-main{
	width:1040px;
	margin-left: calc( (100% - 510px - 520px) / 2 );
	margin-top: 15px;
	display: block;
	background-color: white;
	border-radius: 5px;
	box-shadow:0px 0px 5px #CCCCCC;
	padding-bottom: 200px;
}

.publish-header{
	top:5px;
	position:relative;
	height:60px;
	text-align: center;
	margin-bottom: 30px;
}

.publish-header-title{
	position:relative;
	top:-6px;
	display: inline-block;
	font-size:25px;
	color:#999999;
}

.publish-header-icon{
	font-size:40px;
	color:#E5E544;
}

.upload-container{
	width: 320px;
	height: 148px;
	border:2px solid skyblue;
	border-radius: 5px;
	margin-top: 20px;
	text-align: center;
}

.upload-hint{
	color:red;
	font-size:15px;
	font-family:'Times New Roman', Times, serif;
	margin-bottom:20px;
}

.mr5{
	margin-right: 5px;
}



.active-blue:hover{
	background-color:blue !important;
	transition: 1s;
}