/*comment组件*/
.comment-container>div {
	display: inline-block;
	vertical-align: top;

}

.comment-right {
	border-bottom: 1.5px solid #DDDDDD;
	margin-left: 10px;
	width: 500px;
	/* padding-top: 5px; */
	/* padding-bottom: 5px; */
}

.comment-username {
	display: block;
	margin-top: 10px;
	color: #666666;
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
	font-weight: bold;
}

.comment-content {
	display: block;
	padding-top: 10px;
	/* margin-top:5px; */
	font-family: FangSong_GB2312;
	/* font-weight: bold; */
	/* font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif; */
	color: #555555;
	font-size: 15px !important;
}

.comment-bottom {
	display: block;
	position: relative;
	margin-top: 10px;
	color: #999999;
	font-family: 'Times New Roman', Times, serif;
}

.edit-button {
	margin-top: -5px;
	display: inline-block;
	float: right;
}

/*End comment组件*/

.gray-color {
	color: #AAAAAA;
}
