
.home-wrapper{
	background-color: white;
	padding-bottom: 200px;
}

.home-main{
	width:1130px;
	margin-left: calc( (100% - 1120px) / 2 );
	margin-top: 20px;
	display: block;
}

.mask-images-container{
	width:520px;
	margin-left:10px;
	display: inline-block;
	vertical-align: top;
}

.mask-images-container>div{
	display: inline-block;
}

.float-image-container{
	display: inline-block;
	margin-left: 18px;
	margin-right:18px;
	width: 190px;
}

